@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('assets/fonts/Gotham-Rounded-Book.ttf')  format('truetype')
    }
body {
  font-family: 'Gotham Rounded Book';
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
